@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    Locked out
</h1>

<div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
    This account has been locked out, please try again later.
</div>


